body{
 background-color: #000000;
   padding: 0px;
   margin: 0px;
 }

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

  
  .contributor {
    padding: 10px;
    width: 120px;
    display: inline-block;
    
  }

  #app{
      color: white;
  }


.circle {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 30px solid black;
  -webkit-animation: bounce-in-top 3s steps(3, end) both;
	        animation: bounce-in-top 3s steps(3, end) both;

}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.square {
  height: auto;
  width: auto;
  background-color: black;
  border-radius: 3px;
  position: relative;
}

.squareOne {
  background-color: black;
  left: 35px;
  bottom: 48px;
}
.squareTwo {
  background-color: black;
  left: 94px;
  bottom: 54px;
  transform: rotate(-40deg);
}
.squareThree {
  background-color: black;
  bottom: 83px;
  right: 26px;
  transform: rotate(40deg);
}
.squareFour {
  background-color: black;
  bottom: 56px;
  left: 116px;
}
.squareFive {
  background-color: black;
  bottom: 86px;
  right: 48px;
}
.squareSix {
  background-color: black;
  bottom: 62px;
  left: 98px;
  transform: rotate(132deg);
}
.squareSeven {
  background-color: black;
  bottom: 88px;
  right: 26px;
  transform: rotate(-132deg);
}
.squareEight {
  background-color: black;
  bottom: 94px;
  left: 37px;
}
.loadingBar {
  height: 20px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.load {
  background-color: black;
  width: 0%;
  height: 100%;
  animation-name: loading;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  100% {
    width: 100%;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
